streamlit>=1.30.0
deepface==0.0.79
opencv-python>=4.8.0
mediapipe>=0.10.9
transformers>=4.40.1
torch>=2.2.0
spotipy>=2.23.0
python-dotenv>=1.0.1
Pillow>=9.5.0
numpy>=1.24.0
librosa>=0.10.1
scikit-learn>=1.4.0
